<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wyq.example">

    <application>
        <meta-data android:name="upgrade_title" android:value="有新版本" />
        <meta-data android:name="upgrade_message" android:value="1.修复了app过于流畅的bug\n2.解决了测试没事干的尴尬局面" />
    </application>
</manifest>